<% if current_user.class == Instructor %>

<div class="quiz-form">
<%= form_tag("/quizzes", method: "POST") do %>

  <%= select_tag(:cohort, options_for_select(@cohorts.pluck(:name)), class: "quiz-select") %> <br>
  <%= label_tag(:test_day, "Date: ", :class => 'quiz-date') %>
  <%= date_field_tag(:test_day, @test_day, :class => 'quiz-date') %>
  <br>

    <!-- want to have a button that when click, will append a question field and four answer fields to the body -->
    <!-- at some point, want to have a dropdown menu that lists the existing questions -->

  <div class="drop-down">    
    <%= label_tag(:question, "Question:") %>
    <%= select_tag(:content, options_for_select(
    @quiz_questions.pluck(:content)))%> <!-- HELP -->
    <!-- one answer should have the attribute of is_correct set to true -->
    <!-- only one checkbox should be able to be clicked. should have a "correct answer" id for CSS stuff -->
  </div> <!-- drop-down -->
  <div class="write-in">
    <%= text_field_tag(:written_content, nil, :placeholder => "Enter Question", class: "write-in-tag") %>
    <br>
    <%= label_tag(:choice, "Answer Choice #1: ") %>
    <%= text_field_tag(:choice1, nil, :placeholder => 'Enter Answer Here', class: "answers-for-questions") %>
    <%= radio_button_tag(:is_correct, 0) %>
   <br>
    <%= label_tag(:choice, "Answer Choice #2: ") %>
    <%= text_field_tag(:choice2, nil, :placeholder => 'Enter Answer Here', class: "answers-for-questions") %>
    <%= radio_button_tag(:is_correct, 1) %>
   <br>
    <%= label_tag(:choice, "Answer Choice #3: ") %>
    <%= text_field_tag(:choice3, nil, :placeholder => 'Enter Answer Here', class: "answers-for-questions") %>
    <%= radio_button_tag(:is_correct, 2) %>
   <br>
    <%= label_tag(:choice3, "Answer Choice #4: ") %>
    <%= text_field_tag(:choice4, nil, :placeholder => 'Enter Answer Here', class: "answers-for-questions") %>
    <%= radio_button_tag(:is_correct, 3) %>
  </div> <!-- write-in -->

<div class="button-for-questions">
  <%= submit_tag("Add Question") %>
  <%= submit_tag("Submit Quiz") %>

  <button id="toggle" type="button">Toggle Question Type</button>
</div>

<% end %>
</div>
<% end %>

<% if @current_questions %>
  <% @current_questions.each_with_index do |question, index| %>
    <h4><%= index+1 %>: <%= question.content %></h4>
    <% question.answers.each do |answer| %>
      <li><%= answer.choice %></li>
    <% end %>
  <% end %>
<% end %>