<h1><%= @cohort.name %> </h1>

<ul>
	<% @students.each do |student| %>
		<li><strong><%= student.last_name %>, <%= student.first_name %></strong></li>
    <li><a href="mailto:<%= student.email %>"><%= student.email %></a></li>
    <br>
	<% end %>

</ul> 

