
<div class="page-wrap">
	<div class="update-student-wrapper">
		<%= form_for @student do |f| %>
		  <%= f.label :email, "EMAIL", class: "update-label-field" %><br>
		  <%= f.text_field :email, class: "update-login-field" %><br> 
		  <%= f.label :password, "PASSWORD", class: "label-field" %><br>
		  <%= f.password_field :password, class: "update-login-field"%><br>
		  <%= f.label :password_confirmation, "CONFIRM PASSWORD", class: "update-label-field" %> <br>
		  <%= f.password_field :password_confirmation, class: "update-login-field" %><br>
		  <%= f.submit class: "update-student-btn" %>
		<% end %>

	</div>
</div>