<div class="student-page">
	<div class="student-header"><%= @student.cohort.name %></div>
	<div class="student-email"><%= @student.email %></div>
	<a class="student-page" href="/students/<%= @student.id %>/edit">UPDATE INFO</a>

	<p class="student-quiz-header" >Quiz History:</p>

	<p>Current Average: <%= @average %>%</p>
	<ul>
	  <% @quizzes.each do |quiz| %>
	      <li><a href="/quizzes/<%= quiz.id %>"><%= quiz.test_day %></a> Possible Total: <%= quiz.questions.length %></li>  
	  <% end %> 
	</ul>

	<ul>
	  <% @grades.each do |grade| %>
	      <li>Grade: <%= grade.pop() %> </li> 
	  <% end %> 
	</ul>
</div>


