<h1><%= @student.cohort.name %></h1>

<p>Current Email: <%= @student.email %></p>
<a href="/students/<%= @student.id %>/edit">Update Your Information</a>

<h3>Quiz History:</h3>
<p>Current Average: </p>
<ul>
  <% @quizzes.each |quiz| %>
    <li><a href="/quizzes/<%= quiz.id %>"><%= quiz.test_day %></a> Grade: / <%= quiz.questions.length %></li> 
  <% end %> 
</ul>



