<div class="instructor-edit-background">
<div class="wrapper edit-center">

<div class="instructor-edit-form">	
	<%= form_for @instructor do |f| %>
	  <%= f.label :email, class: "update-label-field" %> 
	  <%= f.text_field :email, class: "update-login-field" %> <br>
	  <%= f.label :password, class: "update-label-field"  %>
	  <%= f.password_field :password, class: "update-login-field" %><br>
	  <%= f.label :password_confirmation, class: "update-label-field"%>
	  <%= f.password_field :password_confirmation, class: "update-login-field" %><br>
	  <%= f.submit value: "Update",class: "update-btn"%>
	<% end %>
</div>	
</div>
</div>

<%= stylesheet_link_tag    'instructors' %>