<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Francois+One' rel='stylesheet' type='text/css'>
  <script src="../../application.js"></script>
</head>
<body>

  <div class="header">
    <p id="logo">QuizApp</p>
    <div class="nav">
    <% if current_user %>
     <p>
     <%= current_user.email %> /
     <%= link_to "Log Out", logout_path, method: "delete", :class => "nav-link" %>
     </p>
    <% else %>
      <p>
      <%= link_to 'Log In', '/login', :class => "nav-link" %> / 
      <%= link_to 'Sign Up', '/signup', :class => "nav-link" %>
      </p>
    <% end %>
    </div>
  <%= yield :header %> <!-- is this necessary? -->
  </div>

  <div class="greeting">
    <% if current_user %>
      <h1>Hello, <%= current_user.first_name %>!</h1>
    <% else %>
      <h1>Welcome to QuizApp!</h1>
      <p>Please log in to get started</p>
    <% end %>
  </div>

  <div class="container">
  <%= yield %>
  </div>

  <div class="footer">
    <p>Copyright @ Team SODAS</p>
  </div>

</body>
</html>
