<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Francois+One' rel='stylesheet' type='text/css'>
  <script src="../../application.js"></script>
</head>
<body>

  <div class="header">
    <a href="/"><p id="logo">QuizApp</p></a>
    <div class="nav">
    <% if current_user %>
     <p><%= current_user.email %> /
     <%= link_to "Log Out", logout_path, method: "delete", :class => "nav-link" %></p>
    <% else %>
      <p><%= link_to 'Sign Up', '/signup', :class => "nav-link" %></p>
    <% end %>
    </div> <!-- nav -->
  </div> <!-- header -->

<!-- <div class="container"> -->
  <%= yield %>
<!--   </div> -->

  <div class="footer">
    <p>Copyright @ Team SODAS</p>
  </div> <!-- footer -->

</body>
</html>
